
body{
    background-color: rgb(63, 169, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

#gameBoard {
    --board-size : 40vh;
    margin-top: 15%;
    width: var(--board-size);
    height: var(--board-size);
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#tile1, #tile2, #tile3 {
    border-top: 0px
}

#tile7, #tile8, #tile9 {
    border-bottom: 0px
}

#tile1, #tile4, #tile7 {
    border-left: 0px
}

#tile3, #tile6, #tile9 {
    border-right: 0px
}

.tile{
    border : 3px solid white;
    color: white;
    font-size: 6vh;
    font-weight: bolder;
    margin: 0px;
    background-color: transparent;
}

#resetBtn {
    margin-top: 5vh;
    background-color: transparent;
    border : 2px solid white;
    border-radius: 10%;
    color: white;
    font-size: 4vh;
}


#resetBtn:hover {
    color: grey;
    border-color: grey;
}

