
body{
    background-color: rgb(63, 169, 185);
    display: flex;
    font-family: "Kanit";
    font-size: 1.5em;
    color:  white;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 12%;
}

#title {
    
    text-align: center;
}


#gameBoard {
    --board-size : 40vh;
    width: var(--board-size);
    height: var(--board-size);
    margin-top: 5vh;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#tile1, #tile2, #tile3 {
    border-top: 0px
}

#tile7, #tile8, #tile9 {
    border-bottom: 0px
}

#tile1, #tile4, #tile7 {
    border-left: 0px
}

#tile3, #tile6, #tile9 {
    border-right: 0px
}

.tile{
    border : 3px solid white;
    font-size: 5vmin;
    font-weight: bolder;
    color: inherit;
    margin: 0px;
    background-color: transparent;
}

#resetBtn {
    background-color: transparent;
    border : 2px solid white;
    color : inherit;
    font-family: inherit;
    border-radius: 10px;
    font-size: 1em;
}


#resetBtn:active {
    color: grey;
    border-color: grey;
}

